registry=http://nexus.centr.m:8081/repository/npm-registry/
# @center-m-front:registry=http://nexus.centr.m:8081/repository/center-m-front/
# @center-m-front-modules:registry=http://nexus.centr.m:8081/repository/center-m-front-modules/
@center-m:registry=http://nexus.centr.m:8081/repository/npm-packages/
@center-m-front:registry=http://nexus.centr.m:8081/repository/npm-packages/
@center-m-front-modules:registry=http://nexus.centr.m:8081/repository/npm-packages/
@kt-asu-gis-front:registry=http://nexus.centr.m:8081/repository/kt-asu-gis-front/
